.App{
  background-color: #0b0a3598;
  height: 100%;
}
.content{
  position:relative;
  width: 400px;
  margin-left:380px;
}

.navbar ul {
  margin-left: 30;
  list-style-type: none;
  
}

.navbar li a{   
color: rgb(222, 233, 238);
text-decoration: none;
display: block;
padding: 30px 30px;
}

.navbar {
  height: 100%;
  background-color: #0a060f;  
  position:fixed;
  z-index: 1;
  width: 300px;
  top:0px;
  left: 0px;
}
.active {
  background-color: #6567e4;
  width: 200px;
  cursor: default;
  margin-left: 70px;
}
.memFrame {
  display: block;
  float:left;
  padding: 20px 20px 20px 20px
}

.img {
  max-width: 300px;
  height: auto;
}


.input1 {
  display: block;
  width: 160px;
  float:left;
  padding: 20px 20px 20px 20px
}
.select {
  display: block;
  width: 200px;
  float:left;
  padding: 20px 20px 20px 20px
}
.label {
  display: block;
  width: 90%;
  float:left;
  padding: 20px 20px 20px 0px
}
.input3 {
  display: block;
  width: 100%;
  float:left;
  padding: 20px 20px 20px 20px
}
.input4 {
  display: block;
  width: 50%;
  float:left;
  padding: 20px 20px 20px 20px
}
.buttoncreate {
  display: block;
  width: 200px;
  float:left;
  padding: 20px 20px 20px 20px
}
.create {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 20px
}


