.App{
  background-color: #0b0a3598;
}

.navbar ul {
  margin-left: 30;
  list-style-type: none;
  
}

.navbar li a{
color: rgb(222, 233, 238);
text-decoration: none;
display: block;
padding: 30px 30px;
}

.navbar {
  width: 300px;
  height: auto;
  background-color: #0a060f;
  float:left;
  display: block;
}
.active {
  background-color: #6567e4;
  width: 200px;
  cursor: default;
  margin-left: 70px;
}
.memFrame {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 200px
}

.img {
  max-width: 40%;
  height: auto;
}


.input1 {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 200px
}
.select {
  display: block;
  width: 90%;
  float:left;
  padding: 20px 20px 20px 200px
}
.label {
  display: block;
  width: 90%;
  float:left;
  padding: 20px 20px 20px 0px
}
.input3 {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 200px
}
.input4 {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 200px
}
.buttoncreate {
  display: block;
  width: 70%;
  float:left;
  padding: 20px 20px 20px 200px
}
.create {
  display: block;
  width: 30%;
  float:left;
  padding: 20px 20px 20px 200px
}


